@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
main {
  min-height: 80vh;
}



h3 {
  font-size: 1.2rem;
  padding: .25rem 0;
}

h1 {
  font-size: 1.9rem;
  padding: .25rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.btn-search{
  margin-left: 5px;
  margin-right: 5px;
}

.form{
  display: flex;
  justify-content: space-between;
}


.pagination{
  text-align: center;
  width: 100%;
}


.btn-details{
  width:100%
}

.users-details{
  text-align: center;
}

.users-details .btn-sm{
  margin-right: 8px;
}



.rating span {
  margin: 0.1rem;
}



.align-item{
  text-align:right;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 400px;
  padding: 30px;
  margin: 40px;
}
.carousel a {
  margin: 0 auto;
}